<div class="full-title">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3"> 404 </h1>
        <div class="breadcrumb-main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/home">Accueil</a>
                </li>
                <li class="breadcrumb-item active">404</li>
            </ol>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container">
    <div class="error-contents">
        <div class="error-img">
            <img class="img-fluid" src="../../../assets/images/404.png" alt="" />
        </div>
        <h3>Oups ! Cette page est introuvable.</h3>
        <p> <a href="#">Nous ne trouvons pas la page que vous recherchez. Vous pouvez consulter notre site</a> Page d'accueil.</p>
        <a class="btn btn-primary" href="/home"> Retour à la page d'accueil</a>
    </div>
    <!-- /.jumbotron -->
</div>